@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


body {
  margin: 0;
  font-family: Kumbh Sans, sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 0px;
}

.site-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
  border-bottom: 1px solid lightgrey;
}

ul.menu-items {
  justify-content: flex-start;
  gap: 10px;
}

.avatar {
  width: 45px;
}

.cart-avatar {
  padding-inline-end: 30px;
}

@media(max-width: 1023px) {
  .site-header {
    margin-inline: 0px;
    padding: 0px;
  }

  .site-nav ul {
    padding-left: 15px;
  }

  .cart-avatar {
    padding-right: 15px;
    margin-bottom: 5px;
  }

  .avatar {
    width: 30px;
  }
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: 50px;
  padding-inline-start: 30px;
}

.menu-icon:hover {
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: rgb(117, 116, 116);
}

li a:hover {
  cursor: pointer;
  color: rgb(53, 53, 53);
  border-bottom: 3px solid orangered;
  padding-bottom: 28px;
}

@media (min-width: 1023px) {
  .menu-icon {
    display: none;
  }

}

@media (max-width: 1023px) {
  .menu-items {
    display: none;
  }
  
}

.cart-container {
  position: absolute;
  border-radius: 10px;
  background-color: white;
  width: 300px;
  right: 0;
  top: 80px;
  box-shadow: 0px 10px 20px 0px lightgrey;
  padding: 12px;
  z-index: 9999;
}

.cart-heading {
  border-bottom: 1px solid lightgrey;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  padding-block: 10px;
}

.thumbnail-img {
  border-radius: 5px;
  width: 50px;
  margin-right: 10px;
}

.item-details {
  margin: 0;
  padding-top: 0;
}

.item-text {
  margin-bottom: 3px;
  margin-top: 5px;
  font-weight: 200;
  font-size: 16px;
  color: grey;
}

.total-price {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 7px;
}

.item-total {
  font-weight: bold;
}

.delete-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 8px;
  top: 95px;
}

.checkout {
  background-color: rgb(255, 125, 28);
  color: white;
  width: 100%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 15px;
  margin-top: 10px;
}

.avatar {
  display: inline-block;
  position: relative;
}

.avatar:hover{
  box-shadow: 0 0 0 2px rgb(255, 125, 28);
  border-radius: 50%;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  gap: 8%;
  padding: 50px 5% 100px 5%;
}

@media (max-width: 975px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
  }

  .site-nav {
    padding-inline-start: 0px;
  }
}

.images-container {
  width: 30%;
}

.big-image {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.prev-tag, .next-tag {
  display: none;
}


@media (max-width: 975px) {
  .images-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.gallery-images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  gap: 10px;
}

@media (max-width: 975px) {
  .gallery-images-container {
    display: none;
  }
}

.gallery-images {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.gallery-images:hover {
  opacity: 0.5;
  cursor: pointer;
}

.gallery-images-container li {
  width: 100%;
  border: none;
}
.gallery-images-container li:hover {
  border-radius: 5px;
  width: 100%;
  height: 90%;
  border: 1px solid rgb(255, 125, 28);
}

.info-container {
  width: 50%;
}

.info-container h5 {
  color: rgb(255, 125, 28);
  font-size: 10px;
}

.product-description {
  color: grey;
  font-size: 15px;
  line-height: 30px;
}


.body-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start ;
}

.prices {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px; 
}

.price {
  font-weight: bold;
  color: #374151;
  font-size: 24px; 
}

.sale {
  background-color: #f0dbc1;
  padding: 5px 10px; 
  color: #f97316;
  letter-spacing: 0.05em;
  font-weight: bold;
  display: inline-block;
  border-radius: 5px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.quantity {
  margin-top: 40px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; 
}

.handle-quantity {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(234, 233, 233);
  padding: 10px 20px; 
  margin: 0px;
  height: 30px;
  border-radius: 5px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
  width: 200px;
}


.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 5%;
  background-color: #f97316;
  padding: 10px 20px; 
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 3px 15px 30px rgba(249, 115, 22, 0.3); 
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.btn-close {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -45px;
  left: calc(64% - 30px);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-prev,
.btn-next { 
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  top: 45%;
  border: none;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.btn-prev img,
.btn-next img {
  width: 100%;
  height: 100%;
}

.thumbnail-images {
  display: flex; 
  justify-content: center; 
  gap: 10px; 
  
}

.thumbnail {
  cursor: pointer;
}

.thumbnail img {
  max-width: 100%; 
  height: auto;
  border-radius: 5px; 
}

.thumbnail.active {
  border-radius: 6px;
  width: auto;
  height: 50px;
  border: 1px solid rgb(255, 125, 28);
  opacity: 0.5;
  cursor: pointer;
}

.thumbnail:hover { 
  opacity: 0.5;
  cursor: pointer;
}

.thumbnail-container {
  display: none;
}

.thumbnail-container.show {
  display: inline-block;
  align-items: center;
  position: absolute;
  padding-top: 100px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-image {
  position: relative;
  text-align: center;
  margin-bottom: 20px; 
}

.main-image img {
  width: 30%; 
  height: auto; 
  border-radius: 10px; 
}

@media(max-width: 975px) {
  .thumbnail-container.show {
    display: inline-block;
    align-items: center;
    position: relative;
    padding-top: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .info-container {
    width: 90%;
  }

  .container {
    padding: 0px;
  }

  .btn-prev{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    
  }

  .main-image img {
    width: 100%;
    height: auto; 
    border-radius: 0px;
  }

  .btn-next{
    width: 20px;
    height: 20px;
    margin-left: -30px;
  }

  .btn-prev img,
  .btn-next img {
    width: 80%;
    height: 50%;
  }

  .quantity {
    width: 100%;
    margin-top: 0px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
  }

  .handle-quantity {
    padding: 10px 5%;
    width: 90%;
  }

  .add-to-cart-button {
    width: 100%;
  }

  .add-to-cart {
    width: 100%;
  }

  .body-container {
    flex-direction: row;
    gap: 10%;
    justify-content: space-between;
    padding: 0px;
  }

  .price {
    font-size: 20px;
  }

  .sale {
    font-size: 10px;
  }

  .old-price {
    font-size: 14px;
  }

  .cart-container {
    width: 90%;
    top: 65px;
    right: 1%;
    height: 200px;
    box-shadow: none;
    padding: 12px;
  }

}

.cart-quantity {
  position: absolute;
  background-color: #f97316;
  color: white;
  padding: 3px 6px;
  border-radius: 30px;
  margin-left: -5px;
  top: 15px;
  font-size: 10px;
}

.emptyCart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: grey;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-weight: bold;
  margin-top: 30px;
}

.menu-item-mobile {
  color: black;
}

.menu-item-mobile:hover {
  color: black;
  border-bottom: none;
}

.mobile-menu-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 100%;
  background-color: white; 
  z-index: 999; 
  transition: transform 0.3s ease; 
  transform: translateX(-100%);
}

.mobile-menu-container.open {
  transform: translateX(0); 
}

.mobile-background {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); ;
  width: 100%;
  height: 100%;
  margin-left: 300px;
  z-index: 998;
}

.close-icon {
  position: relative;
  top: 20px;
  left: 20px;
  margin-bottom: 20px;
}

@media (max-width: 313px) { 
  .site-nav {
    max-width: 100px;
  }
}