@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


body {
  margin: 0;
  font-family: Kumbh Sans, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.site-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 70px;
  border-bottom: 1px solid lightgrey;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .menu-icon {
    display: none;
  }
}

.cart-container {
  border-radius: 10px;
  position: absolute;
  background-color: white;
  width: 300px;
  right: 10px;
  top: 85px;
  box-shadow: 0px 10px 20px 0px lightgrey;
  padding: 12px;
}

.cart-heading {
  border-bottom: 1px solid lightgrey;
  font-size: 16px;
  font-weight: bold;
}

.cart-item {
  display: flex;
  align-items: center;
}

.thumbnail-img {
  border-radius: 5px;
  width: 50px;
  margin-right: 10px;
}

.item-details {
  margin: 0;
  padding-top: 0;
}

.item-text {
  margin-bottom: 3px;
  margin-top: 5px;
  font-weight: 200;
  font-size: 16px;
  color: grey;
}

.total-price {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 7px;
}

.item-total {
  font-weight: bold;
}

.delete-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 8px;
  top: 80px;
}

.checkout {
  background-color: rgb(255, 125, 28);
  color: white;
  width: 100%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 15px;
  margin-top: 10px;
}

.avatar {
  display: inline-block;
  position: relative;
}

.avatar:hover{
  box-shadow: 0 0 0 2px rgb(255, 125, 28);
  border-radius: 50%;
}